<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Istruzioni d'uso</h1>
    <ul>
        <li>GET: "/"" restituisce tutti gli eventi</li>
        <li>GET: "/:idEvento" restituisce l'evento con l'id indicato</li>
        <li>POST: "/" aggiungi un evento che deve avere questa struttura {title: "il mio titolo", description: "la mia
            descrizione", date:"YYYY-MM-DD", maxSeats: "deve essere un numero"}</li>
        <li>PUT: "/:idEvento" attenzione a rispettare il tipo di dato e la sua strttura se necessario, puoi modificare
            quanti campi vuoi</li>

    </ul>
</body>

</html>